@model IEnumerable<SponsorViewModel>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/create.css" asp-append-version="true" />
</head>
 <button class="button-1" onclick="location.href='@Url.Action("Create", "Sponsor")'">Create sponsor</button>

<div class="list">
    <h1 class="text">Sponsors:</h1>
    <hr />
    <div class="players-container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Sponsor name</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var sponsor in Model)
            {
                <tbody>
                    <tr>
                        <td>@sponsor.Name</td>
                        <td>
                            <a class="button-2" role="button" asp-action="Edit" asp-controller="Sponsor" asp-route-id="@sponsor.Id">Edit</a>
                                <a class="button-2" role="button" asp-action="Delete" asp-controller="Sponsor" asp-route-id="@sponsor.Id">Delete</a>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>