@using SummerCamp.DataModels.Models;
@model CoachViewModel

@{
    ViewData["Title"] = "Create";
}

<head>
    <link rel="stylesheet" href="~/css/create_coach.css" asp-append-version="true" />

</head>


<div class="wrapper">
    <div class="country-form">
        <h1 class="text">Create coach</h1>
        <hr />
        <form asp-action="Create" asp-controller="Coach" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamId" class="control-label"></label>
                @Html.DropDownList("TeamId", (IEnumerable<SelectListItem>) ViewData["Teams"], "Select a team", new { @class = "form-control" })
                <span asp-validation-for="TeamId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CountryId" class="control-label">Country Name</label>
                @Html.DropDownList("CountryId", (IEnumerable<SelectListItem>) ViewData["Countries"], "Select a country", new { @class = "form-control" })
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="text">Profile picture</label>
                <input type="file" class="form-control-file" name="photo">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
