@using SummerCamp.DataModels.Models;
@model Team

@{
    ViewData["Title"] = "Create";
}

<head>
    <link rel="stylesheet" href="~/css/create_coach.css" asp-append-version="true" />
</head>


<div class="wrapper">
    <div class="country-form">
        <h1 class="text">Create team</h1>
        <hr />
        <form asp-action="Create" asp-controller="Team" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NickName" class="control-label"></label>
                <input asp-for="NickName" class="form-control" />
                <span asp-validation-for="NickName" class="text-danger"></span>
            </div>
            @*<div class="dropdown-container">
                <div class="dropdown-button noselect">
                    <div class="dropdown-label">States</div>
                    <div class="dropdown-quantity">(<span class="quantity">Any</span>)</div>
                    <i class="fa fa-filter"></i>
                </div>
                <div class="dropdown-list" style="display: none;">
                    <input type="search" placeholder="Search player" class="dropdown-search" />
                    <ul></ul>
                </div>
            </div>*@
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
