@model IEnumerable<CompetitionViewModel>

@{
    ViewData["Title"] = "Index";
}

<head>
	<link rel="stylesheet" href="~/css/competition_style.css" asp-append-version="true" />
</head>
 <button class="button-1" onclick="location.href='@Url.Action("Create", "Competition")'">Creaza competitie</button>

<h1>Index</h1>
@foreach(var competition in Model)
{
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Overview</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Matches</label>
            <div class="login-form">
               @* @Html.Partial("Overview", competition)
                @Html.Partial("Matches", competition)*@
            </div>
        </div>
    </div>

}
